* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



 #countryAutocomplete, #personAutocomplete {
    border: 1px solid #999;
    border-radius: 4px;
    color: rgb(55 65 81 / var(--tw-text-opacity));
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.375rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-clip: padding-box;
    background-color: rgb(255 255 255);
    border-color: rgb(209 213 219);
    border-style: solid;
    border-width: 1px;
    width: 100%;
 }


 #countryAutocomplete__listbox, #personAutocomplete__listbox {
    border: 1px solid #999;
 }

 #countryAutocomplete__listbox li, #personAutocomplete__listbox li {
    border: none;
 }


/* Hide up/down arrows on number input fields */

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.feasible {
    background-color: green;
    color: white;
    padding: 0 1rem;
    border-radius: 1rem;
}

.not-feasible {
    background-color: red;
    color: white;
    padding: 0 1rem;
    border-radius: 1rem;
}

#individualForm {
    display:none;
}

#loadFromLocal {
    display:none;
}